.tableDiv{
    width: 70%;
    margin: auto;
    margin-top: 4%;
}
.tableDiv table{
    width: 100%;
    text-align: center;
    border: 3px solid #47bb5b;
}
th{
    color: #47bb5b;
    padding-top: 10px;
}
td{
    padding-top: 10px;
}
@media screen and (max-width: 1000px) {
    .tableDiv{
        font-size: 10px;
        width: 95%;
        margin: auto;
        margin-top: 4%;
    }
}