@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}
.name{
    text-align: end;
    margin-top: 5%;
    padding-right: 10%;
    font-size: 18px;
    color: #47bb5b;
}